/* GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM BASE STYLES */

body {
  @apply bg-secondary text-primary font-secondary text-xs md:text-sm lg:text-base;
}

p {
  @apply leading-relaxed tracking-wider;
}

html {
  @apply scroll-smooth;
}

h1 {
  @apply font-primary text-9xl lg:text-[160px];
}

h2 {
  @apply font-primary text-5xl md:text-6xl;
}

h3 {
  @apply font-medium;
}

/* Allow images to span multiple rows for a masonry-like effect */
.gallery-grid
  > div:nth-child(3n):not(:nth-last-child(1)):not(:nth-last-child(2)) {
  grid-row: span 2; /* Images with this class will span 2 rows, except the last two */
}

.gallery-grid
  > div:nth-child(5n):not(:nth-last-child(1)):not(:nth-last-child(2)) {
  grid-row: span 3; /* Some images can span 3 rows, except the last two */
}

/* Prevent the second-to-last image from spanning */
.gallery-grid > div:nth-last-child(2) {
  grid-row: span 1; /* Ensure the second-to-last image only spans 1 row */
}

/* Responsive styling */
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr); /* Three columns on medium screens */
  }
}
